@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "navbar";

$navbar-links-color: #286090;
$signup-button-color: #ff7a49;
$signup-button-color-hover: #DF6632;
$features-color: #009cfc;

body {
  background: linear-gradient(to bottom,#89c3eb 0%,#fff 100%);
  background-repeat: no-repeat;
  min-height: 535px;
}



.panel {
  // max-width: 400px;
  border: none;
  border-radius: 0;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #888;
  .panel-body {

    h1 {
      font-size: 38px;
      font-weight: 300;
      color: $navbar-links-color;
      text-align: center;
      margin-bottom: 40px;
    }
    .btn.btn-primary {
      border: none;
      border-radius: 3px;
      background: #15CD72;
      &:hover {
        background: #0CB863;
      }
    }
  }
  .form-group {
    margin: 15px 20px;
    font-size: 18px;
    input.form-control {
      padding: 14px;
      font-size: 18px;
      height: auto;
    }
    input[type="checkbox"] {
      margin-top: 6px;
      margin-left: -18px;
      -ms-transform: scale(1.4); /* IE */
      -moz-transform: scale(1.4); /* FF */
      -webkit-transform: scale(1.4); /* Safari and Chrome */
      -o-transform: scale(1.4); /* Opera */
    }
    label {
      font-size: 16px;
    }
    button {
      font-size: 22px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
    }
    p {
      margin-top: 10px;
      text-align: center;
    }
    .checkbox {
      padding-top: 0;
    }
    &.has-error {
      margin-bottom: 0;
      margin-top: 0;
      .help-block {
        font-size: 14px;
        // margin-bottom:
      }
    }
  }

}

